# LangChain Core
langchain==0.2.16
langchain-core==0.2.38

# OpenAI Integration
langchain-openai==0.1.25
openai==1.51.2

# Anthropic Integration
langchain-anthropic==0.1.23
anthropic==0.34.2

# Google Gemini Integration
langchain-google-genai==1.0.10
google-generativeai==0.8.3

# Hugging Face Integration
langchain-huggingface==0.0.3
huggingface_hub==0.25.2
transformers==4.45.2
sentencepiece==0.2.0

# ML / Tensor Libraries
torch==2.4.1
numpy==2.1.1
scikit-learn==1.5.2

# Environment Variables
python-dotenv==1.0.1